.myBG {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)),url("../asets/Images/myPams1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.welcome {
    height: 700px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    letter-spacing: 0.005em;
}

.recommendation {
    height: auto;
    background-color: #F5F6F8;
}

.card_book {
    background-color: #FFFFFF;
    height: auto;
    margin: 16px;
    padding: 8px;
    border-radius: 24px;
}



.Images {
   height: 500px; 
}

.Ardhi {
    font-size: 64px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.btn-ardhi {
    background-color:aliceblue;
}

.col-7-3-gap{
    display: grid;
    grid-template-rows: 3fr 7fr;
    
    }


.nav-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.005em;
    padding-left: 16px;
    color: #FFFFFF;
}

.navbar-all {
    top: 32px;
}

.nav-logo {
    width: 112px;
}

.right-aligned {
    justify-content: flex-end;
}

.card_deskripsi {
    font-family: 'Poppins', sans-serif;
    font-style: italic;

}